/* Subject to changes */
:root {
	--vp-c-brand: #fda4af;
	--vp-c-brand-light: #d8b4fe;
	--vp-c-brand-lighter: #ffe4e6;
	--vp-c-brand-dark: #cc8490;
	--vp-c-brand-darker: #b05965;
	--docsearch-container-background: rgba(0, 0, 0, 0.5);
}
