/* Subject to changes */
:root {
	--vp-c-brand: #7c3aed;
	--vp-c-brand-light: #fda4af;
	--vp-c-brand-lighter: #fecdd3;
	--vp-c-brand-dark: #a78bfa;
	--vp-c-brand-darker: #8b5cf6;

	--vp-code-color: var(--vp-c-text-1);
	--vp-c-code-underline: #7e7e99;

	--vp-code-line-height: 1.8;
	--docsearch-container-background: rgba(0, 0, 0, 0.5);

	--vp-logo-shadow-1: #7c3aed;
	--vp-logo-shadow-2: #fda4af;
	--vp-logo-shadow-3: #f0abfc;
	--vp-logo-shadow-4: #a78bfa;
	--vp-logo-shadow-5: #8b5cf6;

	--vp-c-scrollbar: var(--vp-c-gray-light-5);
	--vp-button-alt-border: var(--vp-c-gray-light-5);
	--vp-code-tab-divider: rgba(0, 0, 0, 0.25);
	--vp-c-gutter: transparent;

	--vp-c-brand-1: var(--vp-c-brand);
	--vp-c-brand-2: var(--vp-c-brand-light);
	--vp-c-brand-3: var(--vp-c-brand-lighter);
	--vp-c-brand-soft: var(--vp-c-default-soft);

	--vp-custom-block-tip-border: var(--vp-c-brand-1);
	--vp-custom-block-tip-bg: var(--vp-c-default-soft);
	--vp-custom-block-tip-text: var(--vp-c-text-1);

	--vp-custom-block-warning-border: #fdba74;
	--vp-custom-block-warning-bg: #ffedd5;
	--vp-custom-block-warning-text: #431407;

	--vp-custom-block-danger-border: #fca5a5;
	--vp-custom-block-danger-bg: #fef2f2;
	--vp-custom-block-danger-text: #450a0a;
}

.dark {
	--vp-c-brand: #f0abfc;
	--vp-c-brand-light: #e9d5ff;
	--vp-c-brand-lighter: #f3e8ff;
	--vp-c-brand-dark: #f5d0fe;
	--vp-c-brand-darker: #d1a5ff;

	--vp-c-code-underline: #7e7e99;

	--vp-c-scrollbar: var(--vp-c-black-mute);
	--vp-button-alt-border: var(--vp-c-gray-dark-3);

	--vp-c-brand-1: var(--vp-c-brand);
	--vp-c-brand-2: var(--vp-c-brand-light);
	--vp-c-brand-3: var(--vp-c-brand-lighter);
	--vp-c-brand-soft: var(--vp-c-default-soft);

	--vp-custom-block-tip-border: var(--vp-c-brand-1);
	--vp-custom-block-tip-bg: var(--vp-c-default-soft);
	--vp-custom-block-tip-text: var(--vp-c-text-1);

	--vp-custom-block-warning-border: #fdba74;
	--vp-custom-block-warning-bg: var(--vp-c-default-soft);
	--vp-custom-block-warning-text: var(--vp-c-text-1);

	--vp-custom-block-danger-border: #fca5a5;
	--vp-custom-block-danger-bg: var(--vp-c-default-soft);
	--vp-custom-block-danger-text: var(--vp-c-text-1);
}
