/* Subject to changes */
:root {
	--vp-c-brand: #7c3aed;
	--vp-c-brand-light: #fda4af;
	--vp-c-brand-lighter: #fecdd3;
	--vp-c-brand-dark: #a78bfa;
	--vp-c-brand-darker: #8b5cf6;

	--vp-code-line-height: 1.8;
	--docsearch-container-background: rgba(0, 0, 0, 0.5);

	--vp-logo-shadow-1: #7c3aed;
	--vp-logo-shadow-2: #fda4af;
	--vp-logo-shadow-3: #f0abfc;
	--vp-logo-shadow-4: #a78bfa;
	--vp-logo-shadow-5: #8b5cf6;

	/* Background */
	--vp-c-black: #171719;
	--vp-c-black-soft: #202022;
	--vp-c-black-mute: #2a2b31;

	/* Gray */
	--vp-c-gray-dark-3: #32323c;

	/* Text */
	--vp-c-text-dark-1: rgba(246, 247, 255, 0.9);
	--vp-c-text-dark-2: rgba(222, 226, 236, 0.6);
}

.dark {
	--vp-c-brand: #d1a5ff;
	--vp-c-brand-light: #e9d5ff;
	--vp-c-brand-lighter: #f3e8ff;
	--vp-c-brand-dark: #f5d0fe;
	--vp-c-brand-darker: #f0abfc;
}

/* Sidebar links */

.VPSidebar .link::after {
	content: '';
	float: right;
	width: 2.5px;
	height: 20px;
	background: #f0abfc;
	transform : scaleY(0);
	border-radius: 100px;
	transition: transform 150ms ease-in;
}

.VPSidebar .link.active::after {
	transform : scaleY(1);
}

.VPSidebarGroup .items {
	padding-left: 5px;
	transition: all 0.5s;
}

.VPSidebarGroup .items > * {
	transition: all 0.5s;
}

.VPSidebarGroup .items > *:not(.active):hover {
	transform: translateX(2px);
}

/* Overriding navbar colors since they're hardcoded at component level */

@media (min-width: 960px) {

	/* VPNav.vue */
	.dark .VPNav.no-sidebar {
		background: rgba(32, 32, 34, 0.7) !important;
	}

	/* VPNavBar.vue */
	.dark .VPNavBar.has-sidebar .content {
		background: rgba(32, 32, 34, 0.7) !important;
	}
}