pre code {
	tab-size: 2 !important;
}

a:has(code) {
	text-decoration: underline;
	color: var(--vp-c-text-code) !important;
}

.vp-doc a > code {
	color: inherit;
	transition: color 0.25s;
}

hr {
	margin: 4rem 0 !important;
}

.vp-doc h2 {
	margin-top: 5rem !important;
}

.vp-doc h3 {
	margin-top: 3rem !important;
}

.vp-doc .custom-block {
	margin: 3rem 0 !important;
}

.vp-doc h1 + h2 {
	margin-top: 2.5rem !important;
}

footer p.message {
	display: inline-flex;
	align-items: center;
}

.vp-doc [class*="language-"] code .diff {
	transition: background-color 0.5s;
	margin: 0 -24px;
	padding: 0 24px;
	width: calc(100% + 2 * 24px);
	display: inline-block;
}

.vp-doc [class*="language-"] code .diff::before {
	position: absolute;
	left: 1rem;
}

/*
|--------------------------------------------------------------------------
| Focus
|--------------------------------------------------------------------------
*/

.vp-doc [class*="language-"] .has-focused-lines .line:not(.has-focus) {
	filter: blur(0.095rem);
	opacity: 0.4;
	transition: filter 0.35s, opacity 0.35s;
}

.vp-doc [class*="language-"] .has-focused-lines .line:not(.has-focus) {
	opacity: 0.7;
	transition: filter 0.35s, opacity 0.35s;
}

.vp-doc [class*="language-"]:hover .has-focused-lines .line:not(.has-focus) {
	filter: blur(0);
	opacity: 1;
}

/*
|--------------------------------------------------------------------------
| Diff -
|--------------------------------------------------------------------------
*/

.vp-doc [class*="language-"] code .diff.remove {
	background-color: rgba(255, 128, 128, 0.05);
	opacity: 0.7;
}

.vp-doc [class*="language-"] code .diff.remove::before {
	content: "-";
	color: rgba(255, 128, 128, 0.5);
}

/*
|--------------------------------------------------------------------------
| Diff +
|--------------------------------------------------------------------------
*/

.vp-doc [class*="language-"] code .diff.add {
	background-color: rgba(125, 191, 123, 0.1);
}

.vp-doc [class*="language-"] code .diff.add::before {
	content: "+";
	color: rgba(125, 191, 123, 0.5);
}
