pre code {
	tab-size: 2 !important;
}

a:has(code) {
	color: var(--vp-c-text-code) !important;
}

.vp-doc a > code {
	/* color: var(--vp-c-brand-dark); */
	transition: color 0.25s;
}

.vp-doc .custom-block a {
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-color: var(--vp-c-text-code);
	font-weight: 400;
}

.vp-doc .custom-block.warning a {
	color: var(--vp-custom-block-warning-border) !important;
	text-decoration-color: var(--vp-custom-block-warning-border);
}

.vp-doc .custom-block.info a {
	text-decoration-color: var(--vp-custom-block-info-border);
}

hr {
	margin: 4rem 0 !important;
}

.vp-doc h2 {
	margin-top: 5rem !important;
}

.vp-doc h3 {
	margin-top: 3rem !important;
}

.vp-doc .custom-block {
	margin: 3rem 0 !important;
}

.vp-doc h1 + h2 {
	margin-top: 2.5rem !important;
}

footer p.message {
	display: inline-flex;
	align-items: center;
}

.VPLink.link {
	display: flex;
	align-items: center;
}

.VPLink.link > p.text {
	flex-grow: 0;
}

.VPLink.link > svg.icon {
	margin-left: 0.5rem;
}
