pre code {
	tab-size: 2 !important;
}

a:has(code) {
	text-decoration: underline;
	color: var(--vp-c-text-code) !important;
}

.vp-doc a > code {
	color: inherit;
	transition: color 0.25s;
}

hr {
	margin: 4rem 0 !important;
}

.vp-doc h2 {
	margin-top: 5rem !important;
}

.vp-doc h3 {
	margin-top: 3rem !important;
}

.vp-doc .custom-block {
	margin: 3rem 0 !important;
}

.vp-doc h1 + h2 {
	margin-top: 2.5rem !important;
}

footer p.message {
	display: inline-flex;
	align-items: center;
}

.VPLink.link {
	display: flex;
	align-items: center;
}

.VPLink.link > p.text {
	flex-grow: 0;
}

.VPLink.link > svg.icon {
	margin-left: 0.5rem;
}
