body {
	background-image: url(/pattern.svg);
}

pre code {
	tab-size: 2 !important;
}

a:has(code) {
	text-decoration: none !important;
}

.vp-doc :not(pre) > code {
	padding: 4px 5px 3px 5px !important;
}

.vp-doc a {
	color: var(--vp-c-text-1);
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-color: var(--vp-c-code-underline);
}

.vp-doc strong {
	color: var(--vp-c-text-1);
	font-weight: 500;
}

.vp-doc a > code {
	color: var(--vp-c-text-1);
	padding: 4px 5px 5px 5px !important;
	transition: color 0.15s, border 0.15s;
	text-decoration: underline;
	text-underline-offset: 4px;
	text-decoration-color: var(--vp-c-code-underline);
}

.vp-doc .custom-block code {
	color: var(--vp-c-text-2) !important;
	font-weight: 700;
	background-color: var(--vp-c-bg-soft);
}

.vp-doc .custom-block a {
	color: var(--vp-c-text-1);
	text-decoration: underline;
	text-underline-offset: 3px;
	text-decoration-color: var(--vp-c-code-underline);
	font-weight: 400;
}

.vp-doc .custom-block.warning a {
	color: var(--vp-custom-block-warning-border) !important;
	text-decoration-color: var(--vp-custom-block-warning-border);
}

.vp-doc .custom-block.info a {
	text-decoration-color: var(--vp-c-code-underline);
}

hr {
	margin: 4rem 0 !important;
}

.vp-doc h2 {
	margin-top: 5rem !important;
}

.vp-doc .preface + h2 {
	margin-top: 4rem !important;
}

.vp-doc h3 {
	margin-top: 3rem !important;
}

.vp-doc h4 {
	margin-top: 3rem !important;
}

.vp-doc .custom-block {
	margin: 3rem 0 !important;
}

.vp-doc h1 + h2 {
	margin-top: 2.5rem !important;
}

footer p.message {
	display: inline-flex;
	align-items: center;
}

.VPLink.link {
	display: flex;
	align-items: center;
}

.VPLink.link > p.text {
	flex-grow: 0;
}

.VPLink.link > svg.icon {
	margin-left: 0.5rem;
}

/* Sidebar scrollbar */

aside.VPSidebar {
	scrollbar-width: thin;
	scrollbar-color: var(--vp-c-scrollbar) transparent;
}

aside.VPSidebar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

aside.VPSidebar::-webkit-scrollbar-track {
	background: transparent;
}

aside.VPSidebar::-webkit-scrollbar-thumb {
	border-radius: 100vh;
	background: var(--vp-c-scrollbar) !important;
	border: 3px solid var(--vp-c-scrollbar) !important;
}

/* Sidebar links */

.VPSidebar .link {
	position: relative;
}

.VPSidebar .link::after {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 2.5px;
	height: 20px;
	background: var(--vp-c-brand);
	transform: scaleY(0);
	border-radius: 100px;
	transition: all 250ms;
	opacity: 0;
}

.VPSidebar .link.active::after {
	transform: scaleY(1);
	opacity: 1;
}

.VPSidebarGroup .items {
	padding-left: 7px;
	transition: all 300ms;
}

.VPSidebarGroup .items .link .link-text {
	display: inline-block;
	transition: all 300ms;
}

.VPSidebarGroup .items .link:not(.active):hover .link-text {
	transform: translateX(2px);
}

/* Docs right sidebar */
.VPDocAsideOutline > div.content .outline-title {
	font-size: 15px !important;
	position: relative;
	top: -6px;
}
